
marquee{
    text-align: center;
    color: #f26522;
    font-family: Noto Serif;
}
h2{
    color:#f26522;
    font-family: Montserrat;
}
p{
    font-family: DM Sans;
}
.school{
    border-radius: 5px;
    box-shadow: 6px 6px 12px #00000099;
    margin: 10px;
}
body{
    background-color: #00000041;
}



